<div class="container">
  <div class="managers-info-wrapper">
    <h1>団体加入申請情報</h1>
    <h2>団体加入申請総数 : <%= @appsubgroups.length %></h2>

    <select class="" name="">
      <option value="">id</option>
      <option value="">group_id</option>
      <option value="">user_id</option>
      <option value="">created_at</option>
      <option value="">updated_at</option>
    </select>
    <input type="serch" name="" value="">
    <div class="managers-each-info">
      <h3>All</h3>
      <table border="1" class="managers-info-content">
        <tr>
          <th>id</th>
          <th>group_id</th>
          <th>user_id</th>
          <th>created_at</th>
          <th>updated_at</th>
          <th>編集</th>
        </tr>

        <% @appsubgroups.each do |appsubgroup| %>
        <tr>
          <td><%= appsubgroup.id %></td>
          <td><%= appsubgroup.group_id %></td>
          <td><%= appsubgroup.user_id %></td>
          <td><%= appsubgroup.created_at %></td>
          <td><%= appsubgroup.updated_at %></td>
          <td><%= link_to "編集","/managers/appsubgroups/#{appsubgroup.id}/edit"%></td>
        </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>
