<div class="container">
  <div class="managers-info-wrapper">
    <h1 style="padding-left:10px;">マネージャー編集画面</h1>
      <h2 style="padding-left:10px;">マネージャーID: <%= @manager.id %></h2>
      <h2 style="padding-left:10px;">created_at : <%= @manager.created_at %></h2>
      <h2 style="padding-left:10px;">updated_at : <%= @manager.updated_at %></h2>
      <%= form_tag("/managers/managers/#{@manager.id}/update",method: :post,class: "edit-wrapper") do %>
        <h2>name</h2>
        <input type="text" name="name" value="<%= @manager.name %>">
        <h2>password</h2>
        <input type="text" name="password" value="<%= @manager.password_digest %>">
        <input type="submit" value="編集">
      <%end%>
        <%= link_to "削除","/managers/managers/#{@manager.id}/destroy",method: :post,id: "edit-destroy" %>
  </div>
</div>
