<div class="container">
  <div class="managers-info-wrapper">
    <h1 style="padding-left:10px;">ユーザー編集画面</h1>
    <h2 style="padding-left:10px;">ユーザーID : <%= @user.id %></h2>
    <h2 style="padding-left:10px;">created_at : <%= @user.created_at %></h2>
    <h2 style="padding-left:10px;">updated_at : <%= @user.updated_at %></h2>
      <%= form_tag("/managers/users/#{@user.id}/update",method: :post,class: "edit-wrapper") do %>
        <h2>name</h2>
        <input type="text" name="name" value="<%= @user.name %>">
        <h2>userId</h2>
        <input type="text" name="user_id" value="<%= @user.user_id %>">
        <h2>email</h2>
        <input type="text" name="email" value="<%= @user.email %>">
        </select>
        <h2>image</h2>
        <input type="text" name="image" value="<%= @user.image %>">
        <h2>organizer_id</h2>
        <input type="text" name="organizer_id" value="<%= @user.organizer_id %>">
        <h2>body</h2>
        <textarea name="body" rows="8" cols="80"><%= @user.body %></textarea>
        <input type="submit" value="編集">
      <%end%>
        <%= link_to "削除","/managers/users/#{@user.id}/destroy",method: :post,id: "edit-destroy" %>
  </div>
</div>
