<%= image_tag "/company_event_images/#{@estaevent.image}",class: 'estaevent-about-image'%>
<div class="estaevent-about-attend">
  <i class="fas fa-walking"></i>
  <span>: </span><%= @estaevent.people %>
</div>
<div class="estaevent-about-wrapper">
  <div class="container">
      <h1><%= @estaevent.title %></h1>
      <p>ジャンル: <%= @estaevent.genre%></p>
      <p>料金: <%= @estaevent.price%>円/人</p>
      <p>場所: <%= @estaevent.place %></p>
      <p>時間: <%= @estaevent.time %></p>
      <p>日程: <%= @estaevent.day %></p>
      <% if @group != nil %>
      <p id="company">参加団体 : <%= @group.name %></p>
      <% end %>
      <div class="estaevent-about-content-wrapper">
        <h2>内容</h2>
        <div class="review-content">
          <%= simple_format(@estaevent.body,:class => "review-text") %>
        </div>
      </div>
      <div class="review-wrapper">
        <h2>レビュー</h2>
        <div class="review-content">
          <%= simple_format(@estaevent.review,:class => "review-txt") %>
        </div>
      </div>
      <% if @current_company && @estaevent.title == "利用例" && @current_company.id == @company.id %>
        <%= link_to('編集する',"/companies/#{@estaevent.id}/example_edit",class:"example-btn")%>
      <% end %>
  </div>
</div>
