<% if @current_company.id == @company.id %>
<%= image_tag "/company_event_images/#{@event.image}",class: 'estaevent-about-image'%>
<div class="estaevent-about-attend">
  <i class="fas fa-walking"></i>
  <span>: 0</span>
</div>
<div class="estaevent-about-wrapper">
  <div class="container">
    <% @example.errors.full_messages.each do |message| %>
      <div class="errors-message">
        ※<%= message %>
      </div>
      <%end%>
      <h1>利用例</h1>
      <%= form_tag("/companies/#{@event.id}/example_create",class:"example-form") do %>
      <p style="color:red">※各内容を利用例に合わせて編集してください</p>
      <p>ジャンル: <input type="text" name="genre" value="<%= @event.genre%>"></p>
      <p>料金: <input type="text" name="price" value="<%= @event.bottom_price%>"> 円/人</p>
      <p>場所: <input type="text" name="place" value="<%= @event.place %>"></p>
      <p>時間: <input type="text" name="time" value="<%= @event.time %>"></p>
      <p>日程: <input type="text" name="day" value="<%= @event.day %>"></p>
      <div class="estaevent-about-content-wrapper">
        <h2>内容</h2>
        <textarea name="body" rows="8" cols="80" placeholder="ここに内容をご記入ください"></textarea>
      </div>
      <div class="review-wrapper">
        <h2>レビュー</h2>
        <p class="review-content">※これは利用例です。</p>
      </div>
      <input type="submit" value="作成" class="example-btn">
      <% end %>
  </div>
</div>
<%end%>
